
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    h5 {
        margin: 0px;
    }


</style>


<div ng-controller="blogController as bc">

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    @*<li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a ng-click="mc.goTo('about')">About</a>
                    </li>
                    <li>
                        <a ng-click="mc.goTo('blog')">Blog</a>
                    </li>
                    <li>
                        <a ng-click="mc.goTo('music')">Music</a>
                    </li>
                    <li>
                        <a ng-click="mc.goTo('fitbit')">Fitbit</a>
                    </li>
                    <li>
                        <a ng-click="mc.goTo('blah')">Blah</a>
                    </li>
                    <li>
                        <a ng-click="mc.goTo('contact')">Contact</a>
                    </li>*@
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="col-md-4"></div>

    <div class="col-md-4">
        <div><h3>Add a Blog</h3></div>
        <form id="form" name="form">

            <div class="form-group">
                <h5><label>Blog Title</label></h5>
                <input type="text" name="title" class="form-control" ng-model="bc.item.title" maxlength="50" style="max-width:800px;" />
            </div><br />

            <div>
                <h5> <label>Blog Content</label></h5>
                <textarea name="content" id="content" class="form-control" ng-model="bc.item.content" rows="6" style="max-width:800px"></textarea>
            </div><br />

            <div>
                <h5><label>Blog Image</label></h5>
                <input type="text" name="image" class="form-control" ng-model="bc.item.image" style="max-width:800px" />
            </div>

            <br />
            <button type="submit" class="btn btn-primary" ng-click="bc.onSubmit(bc.item)">Submit</button><br />
        </form>
    </div>
    <div class="col-md-4"></div>
</div>


@section scripts {
    <script>
        //CKeditor
        CKEDITOR.replace('content',
            {
                customConfig: 'config.js'
            });
    </script>
    <script>
        (function () {
            angular.module('myApp', ['ngMaterial']).factory('blogService', BlogService);

            BlogService.$inject = ['$http'];

            function BlogService($http) {

                return {
                    createBlogs: _createBlogs
                }

                function _createBlogs(item) {
                    item.content = CKEDITOR.instances.content.getData();
                    return $http.post('/api/blogs', item)
                        .then(onCreateSuccess)
                        .catch(onError);
                }

                function onCreateSuccess(response) {
                    return response.data;
                }

                function onError() {
                    console.log("Error!");
                }
            }
        })();

    </script>
    <script>
        (function () {
            "use strict"
            angular.module('myApp').controller('blogController', BlogController);

            BlogController.$inject = ['$scope', 'blogService'];

            function BlogController($scope, blogService) {
                var vm = this;
                vm.item = null;
                vm.$scope = $scope;

                vm.onSubmit = _onSubmit;
                vm.blogService = blogService;

                function _onSubmit(item) {
                    vm.item = item
                    vm.blogService.createBlogs(vm.item);
                    location.href = '/home';
                }


            }



        })();


    </script>



}


