<style>
    a {
        cursor: pointer;
    }
    .scrollerino {
        height: 350px;
        overflow-y: auto;
    }

        .scrollerino::-webkit-scrollbar {
            width: 12px;
            background-color: #808080;
        }

        .scrollerino::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #42DCA3;
        }
</style>
<div id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" style="background-color:black" ng-controller="mainController as mc">
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a ng-click="mc.goTo('about')">About</a>
                    </li>
                    <li>
                        <a ng-click="mc.goTo('blog')">Blog</a>
                    </li>
                    <li>
                        <a ng-click="mc.goTo('blah')">Blah</a>
                    </li>
                    <li>
                        <a ng-click="mc.goTo('blah')">Blah</a>
                    </li>
                    <li>
                        <a ng-click="mc.goTo('blah')">Blah</a>
                    </li>
                    <li>
                        <a ng-click="mc.goTo('contact')">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Intro Header -->
    <header class="intro" id="about">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <br /><br /><br />
                        <h1 class="brand-heading"><span ng-click="mc.createBlog()">J</span>ASON HOANG</h1>
                        <p class="intro-text">
                            @*A free, responsive, one page Bootstrap theme.
                                <br>Created by Start Bootstrap.*@
                        </p>

                        <a ng-click="mc.goTo('blog')" class="btn btn-circle">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                        <br /><br /><br /><br /><br /><br /><br />
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- BLOG Section -->
    <section id="blog" class="container content-section">
        <div class="row">

            <div class="col-md-8 container">
                <div>
                    <h3 class="text-center">{{mc.selectedBlog.content? '' : 'Select a bloggerino!'}}</h3>
                    <h5 ng-bind-html="mc.selectedBlog.content" class="scrollerino"></h5>
                </div>
            </div>
            <div class="col-md-4 container">
                <h2 class="text-center">BLOGS</h2>
                <hr />
                <div ng-repeat="blog in mc.blogs" align="right">
                    <h5><a ng-click="mc.blogSelect(blog)">{{blog.title}}</a></h5>
                </div>
            </div>
        </div>
    </section>
    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    @*<h2>FB</h2>
                        <p>.</p>*@
                    @*<a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>*@
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>

                <div align="center">
                    <md-content style="background-color:black">

                        <md-button class="md-fab md-primary" style="background-color:#3bb7e8" ng-href="https://www.linkedin.com/in/jason-hoang-146961139/" aria-label="linkedIn">
                            <md-icon align="center" style="font-size:1.5em;" class="fa fa-linkedin"></md-icon>
                        </md-button>

                        <md-button class="md-fab md-primary" ng-href="" style="background-color:darkblue" aria-label="facebook">
                            <md-icon align="center" style="font-size:1.5em;" class="fa fa-facebook"></md-icon>
                        </md-button>

                        <md-button class="md-fab md-primary" ng-href="" style="background-color:#641d93" aria-label="instagram">
                            <md-icon align="center" style="font-size:1.5em;" class="fa fa-instagram"></md-icon>
                        </md-button>

                        <md-button class="md-fab md-primary" ng-href="" style="background-color:#ffe928" aria-label="ghost">
                            <md-icon align="center" style="font-size:1.5em;" class="fa fa-snapchat-ghost"></md-icon>
                        </md-button>

                        <md-button class="md-fab md-primary" ng-href="" style="background-color:#00bae0" aria-label="twitter">
                            <md-icon align="center" style="font-size:1.5em;" class="fa fa-twitter"></md-icon>
                        </md-button>

                        <md-button class="md-fab md-primary" ng-href="" style="background-color:#e00000" aria-label="google">
                            <md-icon align="center" style="font-size:1.5em;" class="fa fa-google"></md-icon>
                        </md-button>

                    </md-content>
                    <br /><br /><br />
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Theme JavaScript -->

@section scripts {
    <script>
        (function () {
            angular.module('myApp', ['ngMaterial', 'ngSanitize']).factory('mainService', MainService);

            MainService.$inject = ['$http'];

            function MainService($http) {

                return {
                    getBlogs: _getBlogs
                }


                function _getBlogs() {
                    return $http.get('/api/blogs')
                        .then(onSuccessGetBlogs)
                        .catch(onError);
                }

                function onSuccessGetBlogs(response) {
                    console.log('Successfully received data from GetBlogs');
                    return response.data;
                }

                function onError() {
                    console.log("Error!");
                }

            }


        })();
    </script>
    <script>
        (function () {
            angular.module('myApp')
                .controller('mainController', MainController);

            MainController.$inject = ['$scope', 'mainService'];


            function MainController($scope, mainService) {
                var vm = this;
                vm.$scope = $scope;

                //SCROLL TO SECTION OF THE RESPECTIVE BUTTON
                vm.goTo = _goTo;

                //Blog service and functions
                vm.mainService = mainService;
                vm.blogs = null;
                vm.selectedBlog = null;
                vm.getBlogs = _getBlogs;
                vm.blogSelect = _blogSelect;
                vm.createBlog = _createBlog;
                vm.blogCounter = 0;

                render();

                function render() {
                    return vm.getBlogs()
                        .then(onCompleteGetBlogs);

                    // AUTO SCROLL CAROUSEL
                    //$(function () {
                    //    $('.carousel').carousel({
                    //        interval: 1000
                    //    });
                    //});

                }

                //BLOG SECTION
                function _getBlogs() {
                    return mainService.getBlogs()
                        .then(fillBlogItems)
                }

                function fillBlogItems(data) {
                    console.log("Filling Blog items");
                    vm.blogs = data;
                }

                function onCompleteGetBlogs() {
                    console.log("Completed render and filling blog items");
                }

                function _blogSelect(item) {
                    vm.selectedBlog = item;
                    console.log(vm.selectedBlog);
                }

                function _createBlog() {
                    vm.blogCounter = vm.blogCounter + 1;

                    if (vm.blogCounter == 3) {
                        location.href = "/blogs";
                    } else { }


                    //switch (vm.blogCounter) {
                    //    case 1:
                    //    case 2:
                    //    case 3:
                    //}

                }
                //END BLOG SECTION

                //SCROLL TO SECTION OF THE RESPECTIVE BUTTON
                function _goTo(section) {
                    $('html, body').animate({
                        scrollTop: $('#' + section).offset().top
                    }, 1000);
                };


            }



        })();
    </script>
}
