
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    a {
        cursor: pointer;
    }

    .scrollerino {
        height: 350px;
        overflow-y: auto;
    }

        .scrollerino::-webkit-scrollbar {
            width: 12px;
            background-color: #808080;
        }

        .scrollerino::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #42DCA3;
        }


</style>
<div id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" style="background-color:black" ng-controller="statsController as sc">
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                        <a ng-click="sc.returnHome()">Jason Hoang</a>
                    <li>
                        <a ng-click="sc.goTo('fitbit')">Fitbit</a>
                    </li>
                    <li>
                        <a ng-click="sc.goTo('music')">Music</a>
                    </li>
                    <li>
                        <a ng-click="sc.goTo('projects')">Other Projects</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Intro Header -->
    <header class="intro" id="projects">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <br /><br /><br /><br /><br />
                        <h1 class="brand-heading">Projects</h1>
                        <p class="intro-text">
                        </p>

                        <a ng-click="sc.goTo('blog')" class="btn btn-circle">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                        <br /><br /><br /><br /><br /><br /><br />
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- FITBIT SECTION-->
    <section id="fitbit" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>FITBIT</h2>

                </div>
            </div>
        </div>
        <div class="text-center">
            <a ng-click="sc.goTo('progress')" class="btn btn-circle">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
            <br /><br /><br /><br />
        </div>
    </section>
    <!-- END FITBIT SECTION-->

    <!-- MUSIC -->
    <section id="music" class="content-section text-center">

        <div class="container-fluid">
            <div class="col-lg-12">

                <h2>MUSIC STATS</h2>
                <h4>FROM LASTFM</h4>
                <div id="charts" class="row">
                    <div class="col-md-6">
                        <fusioncharts width="700px"
                                      height="400px"
                                      type="pie3d"
                                      datasource="{{sc.myDataSource}}">
                        </fusioncharts>
                    </div>

                    <div class="col-md-6">
                        <fusioncharts width="700px"
                                      height="400px"
                                      type="doughnut3d"
                                      datasource="{{sc.topTracks}}">
                        </fusioncharts>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a ng-click="sc.goTo('fitbit')" class="btn btn-circle">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
            <br /><br /><br /><br />
        </div>
    </section>
    <!-- END MUSIC SECTION-->


</div>


@section scripts{
    <script>
        (function () {
            angular.module('myApp', ['ngMaterial', 'ngSanitize', 'ng-fusioncharts', 'ngAnimate']).factory('statsService', StatsService);

            StatsService.$inject = ['$http'];

            function StatsService($http) {

                return {
                    getMusic: _getMusic,
                    getTopTracks: _getTopTracks
                }

                //GET MUSIC SECTION

                function _getMusic() {
                    return $http.get('http://ws.audioscrobbler.com/2.0/?method=user.gettopartists&user=jasonhoang88&limit=5&api_key=' + '@System.Configuration.ConfigurationManager.AppSettings["lastFm"]' +'&format=json')
                        .then(onSuccessGetTopArtists)
                        .catch(onError);
                }

                function onSuccessGetTopArtists(artists) {
                    //console.log("GOT THE MUZIX");
                    return artists.data;
                }

                function _getTopTracks() {
                    return $http.get('http://ws.audioscrobbler.com/2.0/?method=user.gettoptracks&user=jasonhoang88&limit=5&api_key=' + '@System.Configuration.ConfigurationManager.AppSettings["lastFm"]' +'&format=json')
                        .then(onSuccessGetTopTracks)
                }

                function onSuccessGetTopTracks(tracks) {
                    //console.log("GOT THE MUZIX");
                    return tracks.data;
                }

                //END MUSIC SECTION


                function onError() {
                    console.log("Error!");
                }
            }
        })();
    </script>
    <!-- FACTORY END-->
    <!-- CONTROLLER BEGIN-->
    <script>
        (function () {
            angular.module('myApp')
                .controller('statsController', StatsController);

            StatsController.$inject = ['$scope', 'statsService'];


            function StatsController($scope, statsService) {
                var vm = this;
                vm.$scope = $scope;
                vm.statsService = statsService;
                //SCROLL TO SECTION OF THE RESPECTIVE BUTTON
                vm.goTo = _goTo;
                vm.returnHome = _returnHome;

                //MUSIC
                vm.topTracks = {
                    chart: {
                        "paletteColors": "#0075c2,#1aaf5d,#f2c500,#ff0000,#a300cc",

                        "caption": "Top Tracks",
                        "subCaption": "By Play Count",
                        "numberPrefix": "Play count: ",
                        "valueFontSize": "14",
                        //Changing alpha of value font
                        "valueFontAlpha": "60",
                        "baseFontColor": "#FFFFFF",
                        "baseFont": "Montserrat",
                        //Changing alpha of value background
                        "bgColor": "#000000",
                        "bgAlpha": "100",
                        "showBorder": "0",
                        "showplotborder": "0",
                        "showPercentValues": "0",
                        "showPercentInToolTip": "1",
                        "toolTipBgColor": "#000000",
                        "showCanvasBase": "1",
                        "canvasBaseDepth": "14",
                        "canvasBgDepth": "5",
                        "canvasBaseColor": "#000000",
                        "canvasBgColor": "#000000",
                        "use3DLighting": "0",
                        "showShadow": "0",
                        "legendBgColor": "#000000",
                        "legendBorderAlpha": "0",
                        "legendShadow": "0",
                        "legendItemFontSize": "10",
                        "legendItemFontColor": "#ffffff",
                        "useDataPlotColorForLabels": "1",
                        "showLegend": "1",
                        "formatNumber": "1",
                        "thousandSeparatorPosition": "2,3",
                        "formatNumberScale": "0",
                        "showHoverEffect": "1",
                        "startingAngle": "90"
                    },
                    data: []
                };

                vm.myDataSource = {
                    chart: {
                        "paletteColors": "#0075c2,#1aaf5d,#f2c500,#ff0000,#a300cc",

                        "caption": "Top Artists",
                        "subCaption": "By Play Count",
                        "numberPrefix": "Play count: ",
                        "valueFontSize": "14",
                        //Changing alpha of value font
                        "valueFontAlpha": "60",
                        "baseFontColor": "#FFFFFF",
                        "baseFont": "Montserrat",
                        //Changing alpha of value background
                        "bgColor": "#000000",
                        "bgAlpha": "100",
                        "showBorder": "0",
                        "showplotborder": "0",
                        "showPercentValues": "1",
                        "showPercentInToolTip": "0",
                        "toolTipBgColor": "#000000",
                        "showCanvasBase": "1",
                        "canvasBaseDepth": "14",
                        "canvasBgDepth": "5",
                        "canvasBaseColor": "#000000",
                        "canvasBgColor": "#000000",
                        "use3DLighting": "0",
                        "showShadow": "0",
                        "legendBgColor": "#000000",
                        "legendBorderAlpha": "0",
                        "legendShadow": "0",
                        "legendItemFontSize": "10",
                        "legendItemFontColor": "#ffffff",
                        "useDataPlotColorForLabels": "1",
                        "showLegend": "1",
                        "formatNumber": "1",
                        "thousandSeparatorPosition": "2,3",
                        "formatNumberScale": "0",
                        "showHoverEffect": "1",
                        "startingAngle": "90"
                    },
                    data: []
                };

                render();

                function render() {

                    statsService.getMusic()
                        .then(fillTopArtists);

                    statsService.getTopTracks()
                        .then(fillTopTracks);
                }


                //MUSIC SECTION
                function _getMusic() {
                    return mainService.getMusic()
                        .then(fillTopArtists);
                }

                function fillTopArtists(data) {
                    console.log("data", data)
                    //console.log("ARTISTS GET");
                    var artistData = data.topartists.artist;
                    for (var i = 0; i < artistData.length; i++) {
                        var newItem = {
                            label: artistData[i].name,
                            value: artistData[i].playcount
                        }

                        vm.myDataSource.data.push(newItem);

                    }
                    console.log(vm.myDataSource.data);
                }

                function fillTopTracks(data) {
                    var myTopTracks = data.toptracks.track;
                    for (var i = 0; i < myTopTracks.length; i++) {
                        var newItem = {
                            label: myTopTracks[i].name,
                            value: myTopTracks[i].playcount
                        }
                        vm.topTracks.data.push(newItem);
                    }
                }
                //END MUSIC SECTION

                //SCROLL TO SECTION OF THE RESPECTIVE BUTTON
                function _goTo(section) {
                    $('html, body').animate({
                        scrollTop: $('#' + section).offset().top
                    }, 1000);
                };

                function _returnHome() {
                    location.href = '/home/index';
                }
            }
        })();
    </script>
}

